<div id="gamebackground">

    <form class="vertical-center" ng-submit="c.login(userName, password)">
        <div id="loginbox">
            <h1 class="text-center">PlayLend</h1>
            <h5 class="text-center">Login</h5>
            <input ng-model="userName" class="form-control" placeholder="User Name" />
            <input ng-model="password" class="form-control" type="password" placeholder="Password" />
            <input type="submit" class="form-control btn-success" value="Log In" />
            <p><a href="/#/register">Register</a> for a new account</p>
        </div>
    </form>
</div>

