<form class="vertical-center" ng-submit="c.register(user)">

    <div id="registerbox">
        <h1 class="text-center">New Account</h1>
        <input ng-model="user.userName" class="form-control" placeholder="User Name" />
        <input ng-model="user.email" class="form-control" placeholder="Email" />
        <input ng-model="user.password" class="form-control" type="password" placeholder="Password" />
        <input ng-model="user.confirmPassword" class="form-control" type="password" placeholder="Confirm Password" />
        <input type="submit" class="form-control btn-success" value="Register" />
        <p>Already have an accout? <a href="/#/login">Login</a> here</p>
    </div>
</form>
